.styledContainer {
    background-color: #d5f5e1;
    border: 2px solid #000;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.styledContainer2{
    background-color: #d5f5e1;
    border: 2px solid #000;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}